In [2]:
import pandas as pd
import numpy as np

In [3]:
!wget https://raw.githubusercontent.com/alexeygrigorev/datasets/master/housing.csv
df = pd.read_csv("/content/housing.csv")

--2023-09-17 20:08:56--  https://raw.githubusercontent.com/alexeygrigorev/datasets/master/housing.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.108.133, 185.199.109.133, 185.199.110.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.108.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 1423529 (1.4M) [text/plain]
Saving to: ‘housing.csv.7’

housing.csv.7       100%[===================>]   1.36M  --.-KB/s    in 0.04s

2023-09-17 20:08:56 (31.9 MB/s) - ‘housing.csv.7’ saved [1423529/1423529]

###  Question 1: Version of Pandas

In [4]:
version = pd.__version__
print(f"Current Pandas Version: {version}")

Current Pandas Version: 1.5.3

###  Question 2: How many columns are in the dataset?

In [5]:
print(f"There are {df.shape[1]} columns.")

There are 10 columns.

### Question 3: Select columns with missing data

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20640 entries, 0 to 20639
Data columns (total 10 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   longitude           20640 non-null  float64
 1   latitude            20640 non-null  float64
 2   housing_median_age  20640 non-null  float64
 3   total_rooms         20640 non-null  float64
 4   total_bedrooms      20433 non-null  float64
 5   population          20640 non-null  float64
 6   households          20640 non-null  float64
 7   median_income       20640 non-null  float64
 8   median_house_value  20640 non-null  float64
 9   ocean_proximity     20640 non-null  object
dtypes: float64(9), object(1)
memory usage: 1.6+ MB

In [7]:
print("The column with na data is total_bedrooms.")

The column with na data is total_bedrooms.

### Question 4: Number of unique values in the 'ocean_proximity' column

In [8]:
unique_ocean_proximity = df["ocean_proximity"].nunique()

In [9]:
print(f"Quantity of unique values in ocean_proximity column: {unique_ocean_proximity}")

Quantity of unique values in ocean_proximity column: 5

### Question 5: Average value of the 'median_house_value' for the houses near the bay

In [10]:
near_bay_average = df.query("ocean_proximity == 'NEAR BAY'")["median_house_value"].mean()

In [11]:
print(f"The Average value for the houses near the bay is: {near_bay_average:,.2f}")

The Average value for the houses near the bay is: 259,212.31

### Question 6: Has the mean value changed after filling missing values?

In [12]:
initial_mean_value = df["total_bedrooms"].mean()
df["total_bedrooms"] = df["total_bedrooms"].fillna(initial_mean_value)
final_mean_value = df["total_bedrooms"].mean()
initial_mean_value.round(2) == final_mean_value.round(2)

True

In [13]:
print("The mean value didin't change after filling the missing values.")

The mean value didin't change after filling the missing values.

### Questions 7: Value of the last element of w

In [14]:
x_columns = ["housing_median_age", "total_rooms", "total_bedrooms"]
df2 = df.query("ocean_proximity == 'ISLAND'")[x_columns]

In [15]:
X = np.array(df2)
XT = X.T
XTX = XT.dot(X)
y = np.array([950, 1300, 800, 1000, 1300])
XTX_inv = np.linalg.inv(XTX)
w =(XTX_inv.dot(XT)).dot(y)

In [16]:
print(f"The last element of w is: {w[-1]:.4f}")

The last element of w is: 5.6992